<div ui-content-for="title">
  <span>{{username}}</span>
</div>
<div class="scrollable" ng-controller="HomeController">
  <div class="scrollable-content">
    <div class="list-group ">
      <div class="list-group-item list-group-item-home">
        <form role="form" ng-submit='post()'>
          <fieldset>
            <div class="form-group has-success has-feedback">
              <textarea class="form-control" rows="5" ng-model="postContent"
              class="form-control"
              placeholder="写下你的心情"></textarea>
            </div>
          </fieldset>
          <button class="btn btn-primary btn-block">
          发帖
          </button>
        </form>
      </div>
      <div class="list-group-item list-group-item-home text-center">
        <div>
          <i class="fa fa-gamepad feature-icon text-primary"></i>
        </div>
        <div>
          <h3 class="home-heading">里约奥运会</h3>
          2016巴西奥运会没有北京奥运会好!
        </div>
      </div>
      <div class="section">
        <div class="panel panel-default" ng-repeat="idx in records">
          <div class="panel-heading">
            <div class="btn-group pull-right">
              <a ui-turn-on='myDropdown{{idx.postId}}' class='btn'>
                <i class="fa fa-ellipsis-v"></i>
              </a>
              <ul
                ui-state="myDropdown{{idx.postId}}"
                class="dropdown-menu"
                ui-outer-click="Ui.turnOff('myDropdown' + idx.postId)"
                ui-outer-click-if="Ui.active('myDropdown' + idx.postId)"
                role="menu"
                ui-show="myDropdown{{idx.postId}}"
                ui-turn-off="myDropdown{{idx.postId}}">
                <li><a>删除</a></li>
                <li><a>修改</a></li>
                <li class="divider"></li>
                <li><a>置顶</a></li>
              </ul>
            </div>
            <h3 class="panel-title">{{idx.person}}</h3>
          </div>
          <div class="panel-body">
            {{idx.postContent}}
          </div>
          <div class="btn-group justified">
            <a class="btn btn-navbar" ui-turn-on="comment" ng-click="openComment(idx.postId)"><i class="fa fa-navbar" ng-class="idx.isComment ? 'fa-comment' : 'fa-comment-o'"></i>{{idx.commentNum}}</a>
            <a class="btn btn-navbar"><i class="fa fa-navbar" ng-class="idx.isLike ? 'fa-thumbs-up' : 'fa-thumbs-o-up'"></i>{{idx.likesNum}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div ui-content-for="modals">
  <div ng-include="'/app/comment/comment.html'"></div>
</div>