<div ui-content-for="title">
  <span>我的微博</span>
</div>
<div class="scrollable" ui-state="searchBar" ng-controller="MineController">
  <div class="scrollable-content" ui-scroll-bottom='bottomReached()'>
    <input
    ng-if="Ui.active('searchBar')"
    type="search"
    class="form-control scrollable-header"
    placeholder="Search.." />
    <div class="section">
      <div class="panel panel-default" ng-repeat="idx in records">
        <div class="btn-group pull-right">
          <a ui-turn-on='myDropdown{{idx.postId}}' class='btn'>
            <i class="fa fa-ellipsis-v"></i>
          </a>
          <ul
            ui-state="myDropdown{{idx.postId}}"
            class="dropdown-menu"
            ui-outer-click="Ui.turnOff('myDropdown' + idx.postId)"
            ui-outer-click-if="Ui.active('myDropdown' + idx.postId)"
            role="menu"
            ui-show="myDropdown{{idx.postId}}"
            ui-turn-off="myDropdown{{idx.postId}}">
            <li><a>置顶</a></li>
            <li class="divider"></li>
            <li><a>删除</a></li>
          </ul>
        </div>
        <div class="panel-heading">
          <h3 class="panel-title">{{idx.person}}</h3>
        </div>
        <div class="panel-body">
          {{idx.postContent}}
        </div>
        <div class="btn-group justified">
          <a class="btn btn-navbar"><i class="fa fa-navbar" ng-class="idx.isComment ? 'fa-comment' : 'fa-comment-o'"></i>{{idx.commentNum}}</a>
          <a class="btn btn-navbar"><i class="fa fa-navbar" ng-class="idx.isLike ? 'fa-thumbs-up' : 'fa-thumbs-o-up'"></i>{{idx.likesNum}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div ui-content-for="modals">
  <div ng-include="'/app/comment/comment.html'"></div>
</div>