<div ui-content-for="title">
  <span>注册</span>
</div>
<div class="scrollable" ng-controller="RegisterController">
  <div class="scrollable-content section">
    
    <form role="form" ng-submit='register()'>
      <fieldset>
        <legend>注册用户</legend>
        <div class="form-group has-success has-feedback">
          <label>用户名</label>
          <input type="text"
          ng-model="username"
          class="form-control"
          placeholder="请输入用户名">
        </div>
        <div class="form-group has-success has-feedback">
          <label>密码</label>
          <input type="password"
          ng-model="password"
          class="form-control"
          placeholder="请输入密码">
        </div>
        <div class="form-group has-success has-feedback">
          <label>确认密码</label>
          <input type="password"
          ng-model="passwordRepeat"
          class="form-control"
          placeholder="请确认密码">
        </div>
      </fieldset>
      <hr>
      <button class="btn btn-primary btn-block">
      确认注册
      </button>
      <div ui-content-for="navbarAction">
        <a class='btn' href="#/login">去登陆</a>
      </div>
    </form>
  </div>
</div>