<div ui-content-for="title">
  <span>个人中心</span>
</div>
<div class="scrollable" ng-controller="CenterController">
  <div class="scrollable-content">
    <div class='section'>
      <div class="container-fluid section section-break" id="toggleExample">
        <p ui-state id='lightbulb'
          ui-class="{'text-primary': lightbulb}"
          class="text-default">
          <i class="fa fa-lightbulb-o"></i>
        </p>
        <p class="text-center">
          {{username}}
        </p>
        <p class="text-center">
          关注 {{followingNum == null ? 0 : followingNum}} | 粉丝 {{followerNum == null ? 0 : followerNum}}
        </p>
        <p class="text-center">
          简介：人活着就是为了改变世界
        </p>
      </div>
      <ui-state id='activeTab' default='2'></ui-state>
      <div class="btn-group justified nav-tabs">
        <a ui-set="{'activeTab': 1}"
        ui-class="{'active': activeTab == 1}" class="btn btn-default">主页</a>
        <a ui-set="{'activeTab': 2}"
        ui-class="{'active': activeTab == 2}" class="btn btn-default">微博</a>
        <a ui-set="{'activeTab': 3}"
        ui-class="{'active': activeTab == 3}" class="btn btn-default">相册</a>
      </div>
      <div ui-if="activeTab == 1">
        <hr>
        <p>所在地</p>
        <hr>
        <p>学校</p>
        <hr>
        <p>家乡</p>
        <hr>
        <p>性别</p>
        <hr>
        <p>标签</p>
        <hr>
      </div>
      <div ui-if="activeTab == 2">
        <h5 class="page-header">全部微博({{recordsNum}})</h5>
        <div class="panel panel-default" ng-repeat="idx in records">
          <div class="btn-group pull-right">
            <a ui-turn-on='myDropdown{{idx.postId}}' class='btn'>
              <i class="fa fa-ellipsis-v"></i>
            </a>
            <ul
              ui-state="myDropdown{{idx.postId}}"
              class="dropdown-menu"
              ui-outer-click="Ui.turnOff('myDropdown' + idx.postId)"
              ui-outer-click-if="Ui.active('myDropdown' + idx.postId)"
              role="menu"
              ui-show="myDropdown{{idx.postId}}"
              ui-turn-off="myDropdown{{idx.postId}}">
              <li><a>置顶</a></li>
              <li class="divider"></li>
              <li><a>删除</a></li>
            </ul>
          </div>
          <div class="panel-heading">
            <h3 class="panel-title">{{idx.person}}</h3>
          </div>
          <div class="panel-body">
            {{idx.postContent}}
          </div>
          <div class="btn-group justified">
            <a class="btn btn-navbar"><i class="fa fa-navbar" ng-class="idx.isComment ? 'fa-comment' : 'fa-comment-o'"></i>{{idx.commentNum}}</a>
            <a class="btn btn-navbar"><i class="fa fa-navbar" ng-class="idx.isLike ? 'fa-thumbs-up' : 'fa-thumbs-o-up'"></i>{{idx.likesNum}}</a>
          </div>
        </div>
      </div>
      <div ui-if="activeTab == 3">
        <h5 class="page-header">全部相片(112)</h5>
        <div class="panel-group"
          ui-state='myAccordion'
          ui-default='1'>
          <div class="panel panel-default" ng-repeat="i in [1,2,3]">
            <div class="panel-heading" ui-set="{'myAccordion': i}">
              <h4 class="panel-title">
              这里填写图片的拍摄时间和地址#{{i}}
              </h4>
            </div>
            <div ui-if="myAccordion == {{i}}">
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-4">
                    <a href="" ui-turn-on="photoDetail" class="thumbnail">
                      <img src="/content/img/kittens.jpg">
                    </a>
                  </div>
                  <div class="col-xs-4">
                    <a href="" ui-turn-on="photoDetail" class="thumbnail">
                      <img src="/content/img/kittens.jpg">
                    </a>
                  </div>
                  <div class="col-xs-4">
                    <a href="" ui-turn-on="photoDetail" class="thumbnail">
                      <img src="/content/img/kittens.jpg">
                    </a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-4">
                    <a href="" ui-turn-on="photoDetail" class="thumbnail">
                      <img src="/content/img/kittens.jpg">
                    </a>
                  </div>
                  <div class="col-xs-4">
                    <a href="" ui-turn-on="photoDetail" class="thumbnail">
                      <img src="/content/img/kittens.jpg">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div ui-content-for="modals">
  <div ng-include="'/app/comment/comment.html'"></div>
  <div ng-include="'/app/photo/photoDetail.html'"></div>
</div>
<div ui-content-for="bottomMenu">
  <div class="btn-group justified">
    <a ng-click="link()" class="btn btn-navbar"><i class="fa fa-backward fa-navbar"></i> 返回</a>
    <a href="#/" class="btn btn-navbar"><i class="fa fa-plus-square fa-navbar"></i> 关注</a>
    <a href="#/notify" class="btn btn-navbar"><i class="fa fa-envelope fa-navbar"></i> 私信</a>
  </div>
</div>